@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded&display=swap");
@import "./css/variables.css";
@import "./css/header.css";
@import "./css/mainSection.css";
@import "./css/featuresSection.css";
@import "./css/footer.css";


ul,
li {
	list-style-type: none;
}

/*  helper class  */
.container {
	max-width: 1250px;
	margin: auto;
}

.active {
	background-color: var(--accent);
	border-radius: var(--border-radius);
}



/*  about  */
.about,
.contact {
	padding: 3em;
	min-height: 70vh;
}

.about h2,
.contact h2 {
	font-size: 3em;
	margin-bottom: 1em;
	text-align: center;
}

.about p {
	font-size: 1.5em;
	text-align: center;
}

.contact_container {
	display: flex;
	justify-content: space-around;
}

.contact_container form {
	max-width: 50%;
}

.contact_container iframe {
	max-width: 50%;
}

/*  formulaire  */

form input {
	width: 100%;
	padding: 0.5em;
	margin-bottom: 0.8em;
}